extends baseEmail

block content 
    p Hi #{firstname}
        p Welcome to Shanky.well, a platform dedicated to helping individuals like you on their journey to mental wellness. We understand the challenges that come with mental health issues, and we are here to support you every step of the way.
        
        p Thank you for choosing Shanky.well. We look forward to supporting you on your path to mental wellness.
        p Best regards,
        p The Shanky.well Team